<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--<properties resource="../../../Files/properties.config"/>-->
  
  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>
  
  <providers embedded="Config.providers.config, DAO"/>
  
	<!-- Database connection information -->
	<database>
		<provider name="MySql2"/>
		<dataSource name="cmsMysql" connectionString="Data Source=localhost;Database=gw_khane7;User ID=root;Password=hopang;Convert Zero Datetime=True"/>
		<!--<dataSource name="cmsMysql" connectionString="Data Source=183.109.122.160;Database=gw_whoish;User ID=whoish;Password=ghfeldtm!@34;Convert Zero Datetime=True"/>-->
	</database>

	<sqlMaps>
		<!-- COMMON-->
		<sqlMap embedded="DAO.Maps.COMMON.tb_emp.xml, DAO" />
		<sqlMap embedded="DAO.Maps.COMMON.tb_code.xml, DAO" />
		<sqlMap embedded="DAO.Maps.COMMAND.tb_command.xml, DAO" />
	</sqlMaps>

</sqlMapConfig>