@{
	ViewBag.PanelTitle = "Code Preview";
}
<script type="text/javascript">

	$(document).ready(function () {

		$('#sel-tree_type').val((getParameter("tree_type") == "") ? "leftmenu" : getParameter("tree_type"));
		$('#sel-tree_type').change(function () {
			goPage("./?tree_type=" + $(this).val());
		});

	});

</script>

<!-- /.panel -->
<div class="panel panel-default">
	<div class="panel-heading">
		@ViewBag.PanelTitle
	</div>
	<!-- /.panel-heading -->
	<div class="panel-body">


		<div class="form-group">
			<label>tree type</label>
			<select class="form-control" id="sel-tree_type">
				@foreach (var item in ViewBag.listCodeType)
				{
					<option value="@item">@item</option>
				}
			</select>
		</div>

		<div id="jstree">
			<ul>
			@{
				var status = 0;
				var prev_level = 1;
				foreach (var item in ViewBag.listCode)
				{
					<li>@item.tree_key</li>
				}
			}
			</ul>
		</div>

		<script>
		$(function () {
			// 6 create an instance when the DOM is ready
			$('#jstree').jstree();
			// 7 bind to events triggered on the tree
			$('#jstree').on("changed.jstree", function (e, data) {
				console.log(data.selected);
			});
			// 8 interact with the tree - either way is OK
			$('button').on('click', function () {
				$('#jstree').jstree(true).select_node('child_node_1');
				$('#jstree').jstree('select_node', 'child_node_1');
				$.jstree.reference('#jstree').select_node('child_node_1');
			});
		});
		</script>



	</div>
	<!-- /.panel-body -->
</div>
<!-- /.panel -->