@{
    ViewBag.Title = "Code Manager";
	ViewBag.PanelTitle = "Tree Code Detail";
}

<script type="text/javascript">
	var addCode = function () {

		var result = "";
		var lastOrder = "";
		$('.tree_list').each(function () {
			//alert($(this).prop("id"));

			if ($(this).prop("id").split("-")[1].substring(0, $('#tree_order').val().length) == $('#tree_order').val() ) {
				//alert($(this).prop("id").split("-")[1]);
				lastOrder = $(this).prop("id").split("-")[1];
			}

		});

		//alert(lastOrder + "---------" + $('#tree_order').val());
		//alert(lastOrder.replace($('#tree_order').val()));
		if (lastOrder == $('#tree_order').val() ) {
			lastOrder = lastOrder + ".1";
		} else {

			var arrLastOrder = lastOrder.split(".");
			var newLastOrder = Array();
			for (var i = 0; i < arrLastOrder.length-1; i++) {
				newLastOrder[i] = arrLastOrder[i];
			}
			//alert(newLastOrder.join(".") + "." + parseInt(lastOrder.split(".")[lastOrder.split(".").length - 1]));
			lastOrder = newLastOrder.join(".") + "." +  (parseInt(lastOrder.split(".")[lastOrder.split(".").length - 1]) + 1);
		}

		//alert($('#' + $('#tree_code').val() +  ' > li :eq(' + (i-1) + ')').html());
		//alert(lastOrder);

		$('#tree_level').val(parseInt($('#tree_level').val()) + 1);
		$('#tree_code').val("");
		$('#tree_key').val("");
		$('#tree_value').val("");
		$('#tree_order').val(lastOrder);
		$('#html_class').val("");
	}


	$(document).ready(function () {
		$('#btn-add').click(function () {

			if ($('#tree_code').val() == "" ) {
				showAlert("validate", "상위코드를 선택해주세요.", false)
				return;
			}

			addCode();
		});

		$('#btn-save').click(function () {
			goProcess("/Tree/setTreeOne", "frm", "goPage('./');");
		});

		$('#btn-delete').click(function () {
			showAlert("Confirm", "Delete????", true, "alert('ck');");
		});
	});

	var setTreeCode = function ( tree_code ) {
		goSimpleProcess("/Code/getCodeOne", { "tree_code": tree_code }, "getTreeCode(data);");
	}
	var getTreeCode = function (data) {
		$('#tree_code').val(data.tree_code);
		$('#tree_level').val(data.tree_level);
		$('#tree_key').val(data.tree_key);
		$('#tree_value').val(data.tree_value);
		$('#tree_order').val(data.tree_order);
		$('#html_class').val(data.html_class);
	}

</script>

<div class="row">
    <div class="col-lg-4">

		@{
			Html.RenderAction("CodePreview", "Code");
		}
		
    </div>

	<div class="col-lg-8">

		<div class="panel panel-default">
			<div class="panel-heading">
				@ViewBag.PanelTitle
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">

				<form role="form" id="frm" name="frm">
                    <fieldset>
                        <div class="form-group">
							<label>tree_code</label>
							<input class="form-control" placeholder="tree_code" id="tree_code" name="tree_code"  value="" disabled="">
						</div>
						<div class="form-group">
							<label>tree_level</label>
							<input class="form-control" placeholder="tree_level" id="tree_level" name="tree_level"  value="" disabled="">
						</div>
						<div class="form-group">
							<label>tree_key</label>
							<input class="form-control" placeholder="tree_key" id="tree_key" name="tree_key"  value="" >
						</div>
						<div class="form-group">
							<label>tree_value</label>
							<input class="form-control" placeholder="tree_value" id="tree_value" name="tree_value"  value="" >
						</div>
						<div class="form-group">
							<label>tree_order</label>
							<input class="form-control" placeholder="tree_order" id="tree_order" name="tree_order"  value="" >
						</div>
						<div class="form-group">
							<label>html_class</label>
							<input class="form-control" placeholder="html_class" id="html_class" name="html_class"  value="" >
						</div>
						<button class="btn btn-success" type="button" id="btn-add">ADD</button>
						<button class="btn btn-primary" type="button" id="btn-save">SAVE</button>
						<button class="btn btn-danger" type="button" id="btn-delete">DELETE</button>
                    </fieldset>
                </form>

			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->

	</div>

    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
