@{
	ViewBag.Title = "Command Index";
}
<div class="row">
    <div class="col-lg-12">
        
		@{
			Html.RenderAction("List", "Command");
		}

    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
